.header {
    background: rgba(255, 255, 255, 0.40);
    backdrop-filter: blur(40px);
    padding: 0 48px;
    margin: 24px 0;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav {
        display: flex;
        align-items: center;
        gap: 40px;

        &>p {
            cursor: pointer;
        }
    }

    .buttons {
        display: flex;
        gap: 16px;

        .sign__button {
            color: var(--main-colors-black);
        }
    }



    svg {
        cursor: pointer;
    }
}