.header {
    background: rgba(255, 255, 255, 0.40);
    backdrop-filter: blur(40px);
    padding: 24px 48px;
    height: 48px;
    display: flex;
    align-items: center;

    .nav {
        display: flex;
        align-items: center;
        gap: 40px;

        &>p {
            cursor: pointer;
        }
    }



    svg {
        cursor: pointer;
    }
}